.card-container {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 4px rgba(153, 155, 168, 0.15);
  margin: 0 12px;
  flex: 0.5;
}

.property-image-container {
  width: 100%;
  height: 190px;
}

.category-image-container {
  width: 100%;
  height: 250px;
}

.property-image-container > img,
.category-image-container > img {
  border-radius: 4px 4px 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.title-container {
  padding: 16px 0px 8px 12px;
}

.properties-container {
  padding: 4px 0px 24px 12px;
}

.price-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
}

.price-container > svg {
  font-size: 20px;
}

.description-container {
  display: flex;
  flex-direction: column;
  padding: 0 12px;
}

.facilities-container {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #F0EFFB;
  width: 100%;
}

.facility-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4px;
}

.facility-item > p {
  white-space: nowrap;
}

.hearted {
  color: red;
}
