.container-info {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.container-sub-title {
  display: flex;
}

.property-info-container {
  box-shadow: 0px 2px 10px 0px #0000001a;
  display: flex;
  border-radius: 10px;
  margin: 40px 0;
}
